body {
    display: flex;
    justify-content: center;
}

.form-container {
    /* text-align: center; */
    margin-top: 5rem;
}

.form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}